
/*background*/
.grad1 {
    background: linear-gradient(rgb(83, 113, 171), rgb(83, 113, 171));
}

/*borders*/
html, head, body, foot {
    padding: 0;
    margin: 0;
    border: 0;
}


/*heading formats*/
h1 {
    color: rgb(208, 240, 208);        
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    margin: 15px 0 0 15px;
}
h2 {
    color: white;        
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px 0px 0 15px;
}

/*paragraph format*/
p {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: justify;
    padding: 0 0 0 0;
    margin: 15px 15px 15px 15px;
}

/*navigation bar formatting*/

ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(24, 48, 109);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1em;
    color: white;
    border-bottom: 2px solid white;
}
ul.navi li {
    float: left;
    /*border-right: 2px solid black;*/
}

ul.navi li a.active {
    background-color: rgb(0, 0, 63);
    color: white;
}

/*dropdown menu formatting*/
ul.navi li a, .dropbtn {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navi li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(83, 113, 171);
    color: white;
}

ul.navi li.dropdown {
    display: inline-block;
}
ul.navi .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(24, 48, 109);
    color: white;
    position: absolute;
    z-index: 1;
}
ul.navi .dropdown-content a {
    color: white;
    display: block;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px 1px 1px 1px solid white;
}
ul.navi .dropdown-content a:hover {
    background-color: rgb(83, 113, 171);
    color: white;
}
ul.navi .dropdown:hover .dropdown-content {
    display: block;
}


/*clearfix to contain element and text as one*/
.clearfix {
    overflow: auto;
}

/*external link styles*/
a.external:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a.external:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a.external:hover{
    color: white;
    background-color: black;
}

/*columns*/
.column2 {
    float: left;
    width: 50%; /*change depending on number*/
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.column3{
    float: left;
    width: 40%; 
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}

/*image wrapping*/
.wrapping{
    float: right;
    max-width: 100%;
    height: auto;
    padding: 15px 15px 15px 15px;
}

/*unordered list formatting*/
ul.a {
    list-style-type: square;
    
}

/*search box*/
#genesearch {
    width: 33.3%;
    font-size: 1em;
    margin: 5px 5px 5px 5px;
    padding:10px 5px 10px 5px;
    border: 2px solid white;
}

/*footer of each page*/
.bottom {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-style: italic;
    padding: 5px 0 5px 0;
    color: rgb(160, 160, 160);
}



.shiny{
    padding: 10px 10px 10px 10px;
}
/*Responsive layout - depending on the size of screen changes layout options 
@media screen and (max-width: 600px) {
    .column {
        width:100%
        height: auto;
        position: relative;
    }
} */
